a {
  text-decoration: none;
}
#app {
  margin-bottom: 2em;
}
.nav {
  display: flex;
  height: 3rem;
  background-color: black;
}
.img_logo {
  max-width: 11rem;
  height: 100%;
  margin-left: 1em;
}
.navigation, .authentification {
    display: flex;
    align-items: center;
}
.inscription,
.connexion, .fil_actu, .profil,.ancre_profil, .ancre_logout {
  margin: 1em;
  display: flex;
}

.ancre_inscription,
.ancre_connexion, .ancre_fil_actu, .ancre_profil, .ancre_logout {
  color: white;
  font-size: larger;
  cursor: pointer;
}

.ancre_inscription:hover,
.ancre_connexion:hover, .ancre_fil_actu:hover, .ancre_profil:hover {
  color: #a3eeff;
  transition : all .15s ease-in-out;
  transform: scale(1.1);
}
.ancre_logout:hover {
  color: orange;
  transition : all .15s ease-in-out;
  transform: scale(1.1);
}
.fa-bars {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 24px;
  height: 100%;
  cursor: pointer;
  color: white;;
}
