a {
  text-decoration: none;
}
#app {
  margin-bottom: 2em;
}
#nav {
  display: flex;
  height: 3rem;
  background-color: black;
  
}
#img_logo {
  max-width: 11rem;
  height: 100%;
  margin-left: 1em;
}
#navigation {
    display: flex;
    align-items: center;
}
#authentification {
  display: flex;
}
#inscription,
#connexion, #fil_actu, #profil {
  margin: 1em;
  display: flex;
}

#ancre_inscription,
#ancre_connexion, #ancre_fil_actu, #ancre_profil {
  color: white;
  font-size: larger;
}

#ancre_inscription:hover,
#ancre_connexion:hover, #ancre_fil_actu:hover, #ancre_profil:hover {
  color: #a3eeff;
  transition : all .15s ease-in-out;
  transform: scale(1.1);
}
